*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    justify-content: center;
}

.nav-wrapper{
    align-items: center;
    align-content: center;
    padding: 0 20px;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-wrapper > nav {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

ul{
    list-style: none;
    display: flex;
    li{
        margin-right: 20px;
        text-decoration: none;
        color: #888787;
        font-weight: 500;
    }
}

#dot-wrapper{
    border-radius: 50%;
    background-color: black;
    width: 9px;
    height: 8px;
}

nav > .logo-wrapper{
    display: flex;
    align-items: baseline;
}

.logo-wrapper{
    h2{
        font-size: 2.5rem;
        font-weight: 700;
        color: #333;
    }
}

.content-wrapper{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:'i i n' 't d n';
}

.image-wrapper{
    background-size: cover;
    background: url('./assets/images/image-web-3-desktop.jpg');
    grid-area: i;
    background-repeat: no-repeat;
    background-position: center;
    height:250px;
}

.title-wrapper{
    grid-area: t;
    height: fit-content;
    p{
        width: 70%;
        font-weight: bold;
        font-size: 34px;
    }
}

.details-wrapper{
    grid-area: d;
    height: fit-content;
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        background-color: rgb(240, 81, 81);
        margin-top: 22px;
        font-weight: 500;
        font-size: 9px;
        width: fit-content;
        height: fit-content;
        padding: 15px;
        letter-spacing: 4px;
        color: white;
    }
    p{
        color: #888787;
    }
}
.new-wrapper{
    grid-area: n;
    background-color: rgb(2, 2, 26);
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(231, 226, 226);
    height: fit-content;
    h2{
        color: rgb(151, 133, 27);
        margin-bottom: 20px;
        font-size: x-large;
    }
    .item{
        margin-bottom: 20px;
    }
    .item > h3{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .item > p{
        color: rgb(216, 213, 213);
    }

}

.bottom-wrapper{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card > .card-image-wrapper{
        height: 75px;
        width: 75px;
        margin-right: 20px;
    }

    .card > #img1{
        background: url('./assets/images/image-retro-pcs.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .card > #img2{
        background: url('./assets/images/image-top-laptops.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .card > #img3{
        background: url('./assets/images/image-gaming-growth.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .card > .card-content-wrapper{
        h1{
            color: #888787;
        }
        p{
            color: #888787;
            margin-top: 5px;
        }
    }
}